<!doctype html>
<html>
	<head>
		<title>Hello, my name is Proximate.</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:100|Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<style type="text/css">
				.clear {
					display: block;
					zoom: 1;
				}
			</style>
		<![endif]-->

	</head>
	<body>
		<div id="container">
			<div id="nametag">
				<section id="nametag_top">Hello, my name is</section>
				
				<section id="nametag_mid">
					<h1>Proximate</h1>
				</section>
				
				<section id="nametag_bot"></section>
				
				<section id="shadow"></section>
			</div> <!-- //nametag -->
			
			<div id="form">
				<h2>What's yours?</h2>
				
				<p>Get ready to say goodbye to simple nametags. Enter your details and we&rsquo;ll notify you on launch!</p>
			    <%= erb :flash %>
			    <%= yield %>
			    <a href="http://blog.proximate.com/" target="_blank">or view the blog</a>
			</div>
		</div> <!-- //container -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-22082995-7']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
