<!doctype html>
<html>
	<head>
		<title>Hello, my name is Proximate.</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:100|Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<style type="text/css">
				.clear {
					display: block;
					zoom: 1;
				}
			</style>
		<![endif]-->

	</head>
	<body>
		<div id="list">
			<h1>List of Users</h1>
			
			<a href="/export">Export list to CSV</a>
			<a href="/logout">Log Out</a>
			
			<table>
				<thead>
					<tr>
						<td>ID</td>
						<td>Name</td>
						<td>Email</td>
					</tr>
				</thead>
				<% i = 0 %>
				<% @users.each do |user| %>
					<% i = i+1 %>
					<% i%2 == 0 ? @class = "class = 'even'" : @class = "" %>
					<tr <%= @class %>>
					    <td><%= user.id %></td>
					    <td><%= user.name %></td>
					    <td><%= user.email %></td>
					</tr>
				<% end %>
			</table>
		</div>

	</body>
</html>
